{
  "presets": [
    ["@bable/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["react-intl-auto", {
      "removePrefix": "app/"
    }]
  ]
}
