{
  "extends": "precure/oss",
  "overrides": [
    {
      "files": ["src/*.ts"],
      "parser": "typescript-eslint-parser",
      "plugins": ["typescript"],
      "rules": {
        "no-unused-vars": "off"
      }
    }
  ]
}
