{
  "extends": "precure/auto",
  "rules": {
    "unicorn/prevent-abbreviations": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/exports-last": "off",
    "max-lines-per-function": "off"
  }
}
